<h1>Lazy Sandwich</h1>
<p>Buy or sell sandwiches</p>
<p><%= link_to "Producer Login", products_path %></p>
<p><%= link_to "Consumer Login", requests_path %></p>
<p><%= link_to 'Request List Test', requests_list_path %></p>
<p><%= link_to 'Product List Test', products_list_path %></p>