<h2>About Us</h2>

<div style="border: #686868 5px solid; padding: 10px; -moz-border-radius: 15px; -webkit-border-radius: 15px">
  <div style="text-align: justify"><font color="#666666">
    LazySandwich is a web application that satisfies your desire for a homemade sandwich when you are miles away from home.
    LazySandwich also enables you to make homemade sandwiches from the available ingredients in your fridge for hungry customers around the
    corner. Speciality sandwiches are the number one go-to’s for this application - giving customers a different, unique
    tasting sandwich every time. This is an application that connects people in sandwich making matrimony. Choose
    from many different sandwich making users near on your location!
  </font></div>
</div>
<div style="text-align: justify">&#160;</div>

<div style="border: #add8e6 5px solid; padding: 10px; -moz-border-radius: 15px; -webkit-border-radius: 15px" width="500px">
  <div style="text-align: justify"><img style="display: inline; float: left" align="left" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYTAAAAJGVjNmM4ODEzLTE0OTItNGU5Yy05OTZhLWI5ZDYwZTkwOTJjNQ.jpg" width="100" height="100" /></div>
  <div style="text-align: justify"><font color="black">
  <h3> Samson Lee </h3>
  <h5> Manager/Developer </h5>
  <a href="https://www.linkedin.com/in/samson-lee-1a082013">Linkedin</a>
  </font></div>
</div>
<div style="text-align: justify">&#160;</div>

<div style="border: #686868 5px solid; padding: 10px; -moz-border-radius: 15px; -webkit-border-radius: 15px">
  <div style="text-align: justify"><img style="display: inline; float: right" align="right" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/0a2/2ea/0418e01.jpg" width="100" height="100" /></div>
  <div style="text-align: justify"><font color="#666666">
  <h3> Peter Pham </h3>
  <h5> Developer/Tester </h5>
  <a href="https://www.linkedin.com/in/peteranpham">Linkedin</a>
  </font></div>
</div>
<div style="text-align: justify">&#160;</div>

<div style="border: #add8e6 5px solid; padding: 10px; -moz-border-radius: 15px; -webkit-border-radius: 15px">
  <div style="text-align: justify"><img style="display: inline; float: left" align="left" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYWAAAAJGU5OGI0MzMwLWE5ZGUtNDlmZi1hODk5LTIyMzFkMDEyYmU0YQ.jpg" width="100" height="100" /></div>
  <div style="text-align: justify"><font color="black">
  <h3> Wilson Ng Tse </h3>
  <h5> Developer/Tester </h5>
  <a href="https://www.linkedin.com/in/wilsonngsjsu">Linkedin</a>
  </font></div>
</div>
<div style="text-align: justify">&#160;</div>

<div style="border: #686868 5px solid; padding: 10px; -moz-border-radius: 15px; -webkit-border-radius: 15px">
  <div style="text-align: justify"><img style="display: inline; float: right" align="right" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/005/04e/148/2de9546.jpg" width="100" height="100" /></div>
  <div style="text-align: justify"><font color="#666666">
  <h3> Battista Egcasenza </h3>
  <h5> Developer/Tester </h5>
  <a href="https://www.linkedin.com/in/battista-egcasenza-805a4370">Linkedin</a>
  </font></div>
</div>
<div style="text-align: justify">&#160;</div>
