<h2>About Us</h2>
<div style="border: #686868 5px solid; padding: 10px; -moz-border-radius: 15px; -webkit-border-radius: 15px">
  <div style="text-align: justify"><img style="display: inline; float: right" align="right" src="wng.jpg" width="128" height="128" /></div>
  <div style="text-align: justify"><font color="#666666">
Tester
</font></div>
</div>
<div style="text-align: justify">&#160;</div>
